/* app/components/LoginForm.module.css */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Занимаем всю ширину формы */
    margin-bottom: 20px; /* Добавляем отступ снизу */
}

.logo {
    object-fit: contain;
    max-width: 100%; /* Чтобы не выходило за границы */
}

.background {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.shape {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

.shape:first-child {
    background: linear-gradient(#1845ad, #23a2f6);
    left: -80px;
    top: -80px;
}

.shape:last-child {
    background: linear-gradient(to right, #ff512f, #f09819);
    right: -30px;
    bottom: -80px;
}

.form {
    width: 400px;
    background-color: #3f387487;
    position: relative;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
    z-index: 1;
}

.form h3 {
    font-size: 32px;
    font-weight: 500;
    text-align: center;
}

.labelClass {
    color: white;
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

.inputClass {
    display: block;
    height: 50px;
    width: 100%;
    color: #e5e5e5;
    background-color: rgba(255, 255, 255, 0.07);
    border: 0;
    border-radius: 15px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 400;
}

.inputClass::placeholder {
    color: #e5e5e5;
}

.buttonClass {
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 500;
    border: 0;
    border-radius: 15px;
    cursor: pointer;
}

.social {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.social div {
    width: 150px;
    border-radius: 15px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.27);
    color: #eaf0fb;
    text-align: center;
    cursor: pointer;
}

.social div:hover {
    background-color: rgba(255, 255, 255, 0.47);
}